NetPingAgentService/NetPingAgent/Service References/WebService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://baudmeter.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/com.BaudMeter.Model" />
  <xs:element name="PostReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/com.BaudMeter.Model" minOccurs="0" name="BandWidthResults" nillable="true" type="q1:ArrayOfBandwidthReport" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/com.BaudMeter.Model" minOccurs="0" name="PingResults" nillable="true" type="q2:ArrayOfNetPingReport" />
        <xs:element minOccurs="0" name="encodedSessionKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/com.BaudMeter.Model" minOccurs="0" name="PostReportsResult" nillable="true" type="q3:BaudCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>