NetPingAgentService/NetPingAgent/Service References/WebService/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/com.BaudMeter.Agent" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/com.BaudMeter.Agent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://baudmeter.azurewebsites.net/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net.NetworkInformation" />
  <xs:import schemaLocation="http://baudmeter.azurewebsites.net/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfBandwidthReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BandwidthReport" nillable="true" type="tns:BandwidthReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBandwidthReport" nillable="true" type="tns:ArrayOfBandwidthReport" />
  <xs:complexType name="BandwidthReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:GeoCityInfo" />
      <xs:element minOccurs="0" name="DownloadBandwidth" type="xs:double" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetBandwidth" type="xs:double" />
      <xs:element minOccurs="0" name="TcpConnResetRate" type="xs:double" />
      <xs:element minOccurs="0" name="TcpErrorRate" type="xs:double" />
      <xs:element minOccurs="0" name="TcpSegmentResentRate" type="xs:double" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtcTimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BandwidthReport" nillable="true" type="tns:BandwidthReport" />
  <xs:complexType name="GeoCityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoCityInfo" nillable="true" type="tns:GeoCityInfo" />
  <xs:complexType name="ArrayOfNetPingReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NetPingReport" nillable="true" type="tns:NetPingReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetPingReport" nillable="true" type="tns:ArrayOfNetPingReport" />
  <xs:complexType name="NetPingReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:GeoCityInfo" />
      <xs:element minOccurs="0" name="DnsResolveTimeTaken" type="xs:long" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net.NetworkInformation" minOccurs="0" name="NetPingReply" nillable="true" type="q1:PingReply" />
      <xs:element minOccurs="0" name="UtcTimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetPingReport" nillable="true" type="tns:NetPingReport" />
  <xs:complexType name="BaudCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:GeoCityInfo" />
      <xs:element minOccurs="0" name="Crc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntervalSeconds" type="xs:int" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportBatch" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Urls" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaudCommand" nillable="true" type="tns:BaudCommand" />
</xs:schema>